name: tests

on:
  push:
    branches:
      - '*'
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:

    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        php: [7.3, 7.4, 8.0, 8.1]
        laravel: [^6.0, ^7.0, ^8.0, ^9.0]
        include:
          - laravel: ^6.0
            testbench: ^4.0
          - laravel: ^7.0
            testbench: ^5.0
          - laravel: ^8.0
            testbench: ^6.0
          - laravel: ^9.0
            testbench: ^7.0
        exclude:
          - php: 7.3
            laravel: ^9.0
          - php: 7.4
            laravel: ^9.0
          - php: 8.1
            laravel: ^6.0
          - php: 8.1
            laravel: ^7.0

    name: Laravel ${{ matrix.laravel }} on PHP ${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        run: |
          composer require "laravel/framework=${{ matrix.laravel }}" "orchestra/testbench=${{ matrix.testbench }}" --no-update --dev
          composer update --prefer-dist --no-interaction --no-progress

      - name: Run tests
        run: vendor/bin/phpunit --verbose